package {{package}};

import org.springframework.cloud.netflix.feign.FeignClient;
//import {{configPackage}}.ClientConfiguration;

{{=<% %>=}}
@FeignClient(name="${<%title%>.name:<%title%>}",
url="${<%title%>.url:<%basePath%>}")
<%={{ }}=%>
public interface {{classname}}Client extends {{classname}} {
}